@{
    ViewData["Title"] = "Home Page";
}


<div class="row mt-7 mb-7 p-7">
    <div class="col-12">
        <header>
            <div class="card shadow-lg bg-gradient-dark">
                <img class="card-img-top home-image rounded" alt="Home Image" src="~/assets/img/curved-images/curved-11.jpg" style="background-size: contain; background-position: center; background-repeat: no-repeat; width: 100%; height: 400px;"/>
            </div>
        </header>
    </div>
</div>